<!doctype html>
<!-- Thank You Jesus! -->
<!-- base from http://www.sitepoint.com/a-basic-html5-template/ -->
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Love Jesus {{ title }}</title>
  <meta name="description" content="Love Jesus {{description}}">
  <meta name="author" content="LoveJesus">

  <link rel="stylesheet" href="{{site.base}}css/main.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="content">

